<div class="container  mt-5">
	<h2 class="text-center">Brand your product</h2>
	<p class="text-center">C'est le moment de trouver une identité pour votre boîte.</p>
	
	<h3 class="mt-5">Qu'est ce que le branding en startup ?</h3>
	<p>
		Le branding englobe tout ce qui représente votre startup et comment vous la définissez. Bien que l’image de marque soit l’une des parties les plus importantes, on fait aussi référence à tout ce qui touche les relations avec les clients et les partenaires, la manière dont est présentée l’entreprise dans les médias ou encore les valeurs que vous prônez. Globalement, le branding se présente comme la personnalité de l’entreprise. </br>
		C’est évidemment la première chose à laquelle il faut réfléchir lorsqu’on désire positionner une marque dans le marché. Le branding, c’est ce qui fait que c’est <strong>votre</strong> startup et non celle d’un concurrent. 
	</p>

	<h3>Les caractéristiques d’un bon branding</h3>
	<p>Une analyse des valeurs et de la philosophie que veut refléter votre startup.</p>
	<p>Une identité visuelle représentant la personnalité de votre startup avec un nom, un logo, un slogan, un style graphique et des couleurs adaptées à la startup, à ce que vous vendez et à qui vous le vendez. </p>
	<p>Des moyens de promotions qui vont dans le même sens que votre identité visuelle afin d'ancrer la personnalité de votre startup dans l’imaginaire collectif.</p>

	<p>Exemple sur McDonald’s : Passage du logo rouge au logo vert dans les pays concernés par l’écologie pour donner une image de fast food écologique et durable.
	</p>

	<h4>Le nom</h4>
	<p>En fonction des services ou des produits que vendent votre entreprise, le nom peut énormément varier. Il peut expliciter ce que vous comptez vendre (Burger King), être un prénom ou un nom de famille (Louis Vuitton, Givenchy), être un mot du dictionnaire qui n’a aucun liens avec vos produits et services (Orange, Apple), ou tout simplement n’avoir aucun sens (Google).</p>
	<p>Cependant, il est préférable que le nom de votre startup ait un sens caché ou une histoire qui rassemble tous les employés et les adeptes de votre entreprise.(ex : Amazon, l’Amazone est le fleuve qui draine le plus d’eau au monde, à l’image de l’ambition de l’entreprise qui est de générer le plus de commande possible. Google : Google ne veut rien dire, mais est un dérivé de googol, qui est le nom du nombre 1 suivi de 100 fois le chiffre 0, représentant le nombre de résultats possibles pour une recherche sur Google)
	</p>

	<h4>Le logo</h4>
	<p>Le logo se veut unique et propre à votre startup, il doit exprimer la personnalité de votre startup. Il est très à la mode de faire des logos minimalistes, c’est presque un incontournable car cela retranscrit la simplicité et l’efficacité de votre produit. Cependant vous avez le droit (et il peut être judicieux) de casser les codes.</p>

	<h4>Le Slogan</h4>
	<p>Votre slogan doit exprimer la philosophie et les valeurs que prônent votre startup. Votre slogan doit être relativement court et intelligible. (Think different, just do it)</p>

	<p class="mb-5">La communication doit être faite de telle sorte à ce que votre startup soit la première chose à laquelle pense un consommateur quand il pense au produit/service que vous proposez.</p>	

	<h2 class="mt-5"><strong>Votre mission</strong></h2>
	<p><strong>Nous renvoyer un document contenant le nom, le logo et le slogan de votre startup.</strong></p>

	<h3>Optionnel</h3>
	<p>Rédigez un court paragraphe sur la culture de votre boîte.</p>

	<h3>Ressources</h3>
	<p><a href="https://namelix.com/" target="_blank">Générateur de nom</a></p>
	<p><a href="https://hatchful.shopify.com/" target="_blank">Générateur de logo</a></p>
	<p><a href="https://docs.google.com/presentation/d/19g8LkKcoOgppHjI_5G9kvms8b2LKJq7GzD-TyVj5Yg8/edit#slide=id.g44e74e0bdf_0_20" target="_blank">Slides</a></p>

	<p class="mt-5 text-center">Besoin d'aide ? <a href="https://www.messenger.com/t/2843660739001116" target="_blank" class="btn btn-staff ml-3">Call staff</a></p>
</div>
