<div class="container text-center mt-5">
	<h2 class="text-center">Feeback loops</h2>
	<p class="text-center">C'est le moment d'étudier les résultats de votre typeform</p>

	<p>Faites vous un café et regardez ça tranquillement.</p>
	<p>Avant d'attaquer la conception du prototype, profitez de la matinée pour checker que vous avez bien rempli toutes les étapes : identification du produit, business, branding et typeform.</p>
	<p>Redéfinissez au clair la forme de la solution (application mobile, site web ou produit).</p>

	<p>Mettez à jour vos documents dans le dossier adequat (google drive).</p>

	<p class="mt-5 text-center">Besoin d'aide ? <a href="https://www.messenger.com/t/2843660739001116" target="_blank" class="btn btn-staff ml-3">Call staff</a></p>
</div>
