<div class="container pt-3 pl-5 pr-5">
	<h2 class="text-center">Find your product</h2>
	<p class="text-center">Créer une startup, c'est créer un produit. La première étape de ce startup weekend va être de définir votre produit.</p>
	<p class="text-center">Pour cela, vous avez besoin de déterminer 3 choses :</p>

	<h3>Un problème</h3>
	<p>Le problème est la raison pour laquelle vous développez votre projet.</p>
	<p>Il touche suffisamment de personnes pour être pris au sérieux.</p>
	<p>Si vous n'êtes pas sûr que c'est un vrai problème, c'est que ce n'est pas le cas. Un vrai problème est évident.</p>

	<h3>Une Solution</h3>
	<p>La solution, c'est votre produit. Votre solution doit résoudre votre problème. Elle peut être sous la forme de votre choix (application mobile, site web...). Elle doit être simple d'utilisation.</p>

	<h3>Une Target</h3>
	<p>La target, c'est le groupe de personnes auxquels votre produit est destiné.</p>
	<p>C'est une catégorie d'individus qui partagent des points communs.</p>
	<p>Il faut se mettre dans la tête de votre target et produire le résultat attendu.</p>
	<p>Exemple target deliveroo : jeunes cadres d'une tentaine d'années qui souhaitent manger correctement sans avoir à cuisiner. </p>

	<h2 class="mt-5"><strong>Votre mission</strong></h2>
	<p><strong>Nous envoyer un document décrivant votre startup en détaillant brièvement la target, le problème et la solution.</strong></p>
	<p>Si votre projet n'est pas encore défini, prenez le temps d'y réléchir avec votre équipe. Identifiez un problème commun.</p>
	
	<h3>Optionnel</h3>
	<p>Trouvez votre persona. Rédigez un court paragrapge sur le comportement de votre client type.</p>
	<a class="mb-5" href="https://leansteps.wordpress.com/11-2/step-1-customer-segment/persona/" target="_blank">Aide</a>
	
	<h3 class="mt-5">Ressources</h3>
	<p><a href="https://docs.google.com/presentation/d/1jIGFph6P67QGFJKD0HZHAPwZRMZ1WagRzxMQiVU3Nxw/edit#slide=id.p" target="_blank">Slides</a></p>
	
	<p class="mt-5 text-center">Besoin d'aide ? <a href="https://www.messenger.com/t/2843660739001116" target="_blank" class="btn btn-staff ml-3">Call staff</a></p>
</div>

