<div class="container mt-5">
	<h2 class="text-center">Offiche hours</h2>

	<h3>The Family</h3>
	<p>The Family is a strategic & minority long-term shareholder for startups. Like any good family, we’re ready to do whatever it takes to make our portfolio companies succeed. Here are some highlights from the 7 years we've been operating:
		• 700 startups joined the fellowship
		• 350 active startups remain in the fellowship
		• 100+ new startups join every year
		• €3 billion in total portfolio value
		• Offices in London, Paris, Berlin & Bruxelles with a total of 40+ employees
		• 300+ events since inception / 100k+ people attending events in Paris, Berlin & London.
	</p>

	<p>17h00-17h15 : Talk présentation </p>
	<p>17h15-18h00 : Echanges et feedback sur vos projets</p>

	<a href="https://www.thefamily.co/" target="_blank">The Family</a>
</div>
