<div class="container d-flex flex-column mt-5">
	<h2 class="text-center">Prototype / Landing page</h2>
	<p class="text-center">Choisissez entre landing page et prototype.</p>
	<p class="text-center"><a href="https://docs.google.com/presentation/d/1KC4YIHB5cx5rUKsDpg17fOcfW2RxELL8omVTIGL186I/edit#slide=id.p" target="_blank">Slides</a></p>

	<div class="d-flex justify-content-center mb-5">
		<div class="m-5">
			<h3>Prototype</h3>
			<p>Ressources : <a href="https://www.figma.com/files/recent" target="="_blank>Figma</a></p>
			<p><a href="https://www.youtube.com/watch?v=3q3FV65ZrUs" target="_blank">Tuto figma</a></p>
			<p>Exemple : <a href="https://www.figma.com/file/2WD945szxG6OroQOzTsnpe/Sample-File?node-id=0%3A2" target="="_blank>Art museum</a> </p>
		</div>
		<div class="m-5">
			<h3>Landing page</h3>
			<p>Ressources : <a href="https://wordpress.com/create/?currency=EUR&utm_source=google&utm_campaign=google_wpcom_search_brand_desktop_fr_en&utm_medium=paid_search&keyword=wordpress&creative=329673249253&campaignid=647898123&adgroupid=58186196811&matchtype=e&device=c&network=g&targetid=kwd-313411415&gclid=CjwKCAiAzuPuBRAIEiwAkkmOSJVBMbYb-d8e1SBME6m710_xMMnwupFsyZlvX6rPfsEUYMW3SVvP4hoCIkEQAvD_BwE&gclsrc=aw.ds">Wordpress</a>
			<a href="https://www.wix.com/account/sites" target="_blank">Wix</a></p>
			<p><a href="https://www.youtube.com/watch?v=RAFu_452pME" target="_blank">Tuto Wix</a></p>
			<p>Exemples : <a href="https://blog.hubspot.com/marketing/landing-page-examples-list" target="_blank">Landing page examples</a></p>
		</div>
	</div>

	<div class="text-center mt-5">
		<h3>Préparer son pitch</h3>
		<p><a href="https://docs.google.com/presentation/d/1rds1jJeMw7_yY1aoE4MGRFdo2-Yd7z6UEeAt3PZK2rI/edit#slide=id.p" target="_blank">Slides</a></p>
	</div>

	<p class="text-center m-3">Rendez-vous à 15h dans l'amphithéâtre L012.</p>

	<p class="mt-5 text-center">Besoin d'aide ? <a href="https://www.messenger.com/t/2843660739001116" target="_blank" class="btn btn-staff ml-3">Call staff</a></p>
</div>
	