<div class="container text-center mt-5">
	<h2>Prototype design</h2>
	<p>Vous pensez être suffisamment développés pour atteindre cette étape ?</p>
	<p>Avez vous reçu plus de 500 réponses sur votre typeform ?</p>

	<p class="mt-3">Contenu disponible demain.</p>
</div>
