<div class="container mt-5">
	<h2 class="text-center">Sell your product</h2>
	<p class="text-center">Votre produit vient d'être défini. Il s'agira maintenant de le vendre.</p>
	<p class = "text-center">Vous allez devoir trouver la meilleure manière de le vendre.</p>

	<h3>Les questions à se poser</h3>
	<p>Quel est le prix de cette solution ?</p>
	<p>Quel business model choisir ? one-shot, abonnement, comission ?</p>
	<p>Seriez vous prêt à payer X euros pour X service ?</p>

	<h3>Les </h3>

	<h2 class="mt-5"><strong>Votre mission</strong></h2>
	<p>Choisissez un business model pour votre startup et expliquez nous en quelques lignes pourquoi il est viable.</p>
	
	<h3 class="mt-5">Ressources</h3>
	<p><a href="https://startup.info/fr/trouver-son-business-model/" target="_blank">Trouver son business model</a></p>
	<p><a href="https://docs.google.com/presentation/d/1HLHV_u3om0zUI8nSECJT65V-TD7ClBkhaJrvE1slbU0/edit#slide=id.g44e74e0bdf_0_20" target="_blank">Slides</a></p>

	<p class="mt-5 text-center">Besoin d'aide ? <a href="https://www.messenger.com/t/2843660739001116" target="_blank" class="btn btn-staff ml-3">Call staff</a></p>
</div>
