<div class="container mt-5">
	<h2 class="text-center">Test your product</h2>
	<p class="text-center">Tester pour améliorer. Obtenir du feedback.</p>

	<h3>Comment tester ?</h3>
	<p>Par quel moyen on va tester un produit?  Par un formulaire, typeform.</p>

	<h3>Pourquoi tester ?</h3>
	<p>Pourquoi?  Pour avoir un feedback.</p>

	<h3>Tester auprès de qui ?</h3>
	<p>A qui? Pour ses potes, ses connaissances, sa famille, sa niche.</p>
	<p>On a déjà une idée de niche et un marché, on va donc tester notre niche et notre marché.</p>
	<p>On cherche sur Facebook par exemple, un groupe qui correspond à notre projet. On envoie ensuite le typeform sur ce groupe. Le but est de spammer les gens susceptible d'être intéressé. Vaut mieux privilégier la qualité à la quantité. Il faut trouver à qui on va s'intéresser.</p>

	<h3>Les clés pour créer un bon typeform</h3>
	<p>Entre 10 et 15 questions :</p>
	<p>Description du projet</p>
	<p>Poser la question du business modèle (va-t-il intéresser nos prospect?).</p>
	<p>Lister 5 à 10 features (fonctionnalités) les plus importantes.</p>
	<p>Exemple : demander sur une échelle de 1 à 5 à combien le prospect peut être intéressé.</p>

	<p>Vérifier que la personne qui remplit le formulaire correspond bien à notre niche (âge/travail/passion/…).</p>
	<p class="mb-5">Design : Faire apparaître noms et logo de la startup, rester sobre, minimaliste, rester cohérent.</p>

	<h2 class="mt-5"><strong>Votre mission</strong></h2>
	<p>Produire un typeform et l'envoyer au plus de prospects possible.</p>
	
	<p><a href="https://docs.google.com/forms/d/1-B-QDr89YPeSBgKeOFPc5y9g26oF-Gatc8bav3-OUvQ/viewform?fbclid=IwAR39Ob0RPiuPYkO8V5A5fkeRR9Pa7tmOA324ZWoUHohKZOSAW1SnHdNoKoo&edit_requested=true" target="_blank">Exemple de typeform</a></p>
	
	<p class="mt-5 text-center">Besoin d'aide ? <a href="https://www.messenger.com/t/2843660739001116" target="_blank" class="btn btn-staff ml-3">Call staff</a></p>
</div>
